<div class="row">
  <div
    class="col-md-3 animated fadeIn"
    *ngFor="let dashlet of dashlets"
    (click)="openLink(dashlet)"
  >
    <mat-card class="mat-elevation-z4 clickable">
      <div class="matcard">
        <mat-card-title class="text-center">
          <mat-icon svgIcon="{{ dashlet.icon }}"></mat-icon>
        </mat-card-title>
        <mat-card-content>
          <h6 style="font-weight: 600" class="font-nunito">
            {{ dashlet.title | titlecase }}
          </h6>
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
